# Logs
logs
*.log
npm-debug.log*

# Node modules
node_modules/

# Build output
dist/
dist-ssr/

# Environment files
.env.local
.env.*.local

# Editor directories
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
